[package]
name = "docs-test-gen"
authors = ["Aumetra Weisman <aumetra@cryptolab.net>"]
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.82"
glob = "0.3.1"
phf = { version = "0.11.2", features = ["macros"] }
pulldown-cmark = { version = "0.11.0", default-features = false }
strum = { version = "0.26.2", features = ["derive"] }

[dev-dependencies]
cw2 = "*"
cosmwasm-schema = "*"
cosmwasm-std = { version = "*", features = ["stargate", "staking", "cosmwasm_2_0"] }
sha2 = "0.10.8"
